:root {
    --m-theme-orange: #ed8d2d;
    font-family: Calibri;
    font-size: 100%;
}
body {
    background: #383838;
    color: #ffffff;
    margin: 0px;
}

.m-header {
    background: var(--m-theme-orange);
    font-size: 2rem;
    padding: 1rem 1rem;
}
.m-header-warn {
    text-align: center;
    background: #c44233;
    color: #dddddd;
    padding: 0.2rem;
}
.m-content {
    margin: 0.6rem;
}
.m-class-cnt {
    background: rgba(0, 0, 0, 0.3);
    padding: 0.25rem;
    width: 25rem;
    margin: 1.2rem 0rem;
}
.m-class-cnt .m-header {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.2rem;
}
.m-code {
    background: rgba(0, 0, 0, 0.3);
    font-family: monospace;
    font-size: 0.9rem;
    padding: 0.2rem;
}